<div *ngIf="accounts?.length > 0; else noData">
  <div class="table-wrapper">
    <table class="table" id="tblGrid">
      <thead>
        <tr>
          <th>{{ 'MainAccount::AccountNumber' | abpLocalization }}</th>
          <th>{{ 'MainAccount::AccountName' | abpLocalization }}</th>
          <th>{{ 'MainAccount::Title' | abpLocalization }}</th>
          <th>{{ 'MainAccount::TransferredTo' | abpLocalization }}</th>
          <th>{{ 'MainAccount::Status' | abpLocalization }}</th>
          <th>{{ 'MainAccount::CreatedDate' | abpLocalization }}</th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngFor="let account of accounts; trackBy: trackById">
          <tr>
            <td data-label="Account Number">{{ account.accountNumber || '-' }}</td>
            <td data-label="Account Name">{{ account.accountName | bilingualName:account.accountNameEn }}</td>
            <td data-label="Title">{{ account.title | bilingualName:account.titleEn }}</td>
            <td data-label="Transferred To">{{ account.transferredTo | bilingualName:account.transferredToEn }}</td>
            <td data-label="Status">
              <span
                class="status"
                [class.active]="account.isActive"
                [class.inactive]="!account.isActive">
                {{ (account.isActive ? 'MainAccount::Active' : 'MainAccount::Inactive') | abpLocalization }}
              </span>
            </td>
            <td data-label="Created Date">
              {{ account.creationTime | date:'medium' }}
            </td>
          </tr>

          <ng-container *ngIf="account.children?.length > 0">
            <tr *ngFor="let child of account.children" class="child-row">
              <td data-label="Account Number">{{ child.accountNumber || '-' }}</td>
              <td data-label="Account Name">{{ child.accountName | bilingualName:child.accountNameEn }}</td>
              <td data-label="Title">{{ child.title | bilingualName:child.titleEn }}</td>
              <td data-label="Transferred To">{{ child.transferredTo | bilingualName:child.transferredToEn }}</td>
              <td data-label="Status">
                <span
                  class="status"
                  [class.active]="child.isActive"
                  [class.inactive]="!child.isActive">
                  {{ (child.isActive ? 'MainAccount::Active' : 'MainAccount::Inactive') | abpLocalization }}
                </span>
              </td>
              <td data-label="Created Date">
                {{ child.creationTime | date:'medium' }}
              </td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>

<ng-template #noData>
  <div class="alert" role="alert">
    {{ 'MainAccount::NoAccountsFound' | abpLocalization }}
  </div>
</ng-template>